h1 {
    font-family: Georgia;
    text-align: center;
    color:blue;
}

.main-image {
    height:400px;
    width:auto;
    
}

h3 {
    font-family: Calibri, sans-serif;
    color:hotpink;
}

ul {
    color:green;
    font-size:18px;
}

button {
    background-color:lightcoral;
    text-align:center;
    font-size:20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}